@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* universal */
body{
  background-color: black;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Poppins' ,sans-serif;
}

.ribbon{
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
  z-index: 1000;
}

.ribbon .list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  padding: 0;
}

.ribbon .list .links{ 
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  height: 2rem;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.links a{
  color: white;  
  cursor: pointer;
  text-decoration: none;
}

.links a:hover{
  color: transparent;
}

.links a:hover .fa-github { color: #333; } 
.links a:hover .fa-linkedin { color: #0077B5; } 
.links a:hover .fa-instagram { color: #E4405F; } 
.links a:hover .fa-facebook { color: #1877F2; } 

.links span{
  /* display: none; */
}


/* Scroll top button */
.scroll {
  width: 100%;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: inherit;
  cursor: pointer;
  position: sticky;
  bottom: 1rem;
  left: 95%;
}

.scroll button {
  font-size: 2rem;
  border: none;
  outline: none;
  background-color: inherit;
  color: #757575;
  cursor: pointer;
}

/* main container */
.container {
  position: relative;
}

/* home section */
/* navbar */
nav {
  position: absolute;
  top: 0;
  left: 0;
  color: #f2f2f2;
  padding: 10px;
  width: 100%;
  text-align: right;
  font-size: 20px;
  z-index: 2;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  /* padding: 20px 0px; */
  display: inline-block;
  position: relative;
  margin: 0 40px;
}

nav ul li:hover {
  cursor: pointer;
  color: crimson;
  display: inline-block;
  position: relative;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: crimson;
}
.nav-link-ltr::before {
  width: 0%;
  bottom: -5px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

h1 {
  position: absolute;
  top: 200px; 
  left: 35%;
  transform: translateX(-50%);
  margin: 0;
  color: white;
  font-size: 50px;

}

h2 {
  position: absolute;
  top: 200px; 
  left: 65%;
  transform: translateX(-50%);
  margin: 0;
  color: white;
  font-size: 50px;
}

h3 {
  width: 100%;
  position: absolute;
  top: 250px; 
  left: 70%;
  transform: translateX(-8.5%);
  margin: 0;
  color: white;
  font-size: 40px;
}

.spline-container {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

canvas {
  width: 100%;
  height: 100%;
  outline: none;
}

#container {
  width: 100%;
  height: 100%;
  position: relative;
}

/* About Section */

.about {
  display: flex;
  flex-direction: column;
  min-height: 50dvh;
  text-align: center;
}

.about-spline {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 2;
  user-select: none;
  pointer-events: none;
}

.spline-viewer {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 100vh;
  left: 0;
  clip-path: polygon(0 0, 80% 0, 70% 100%, 0% 100%);
  z-index: 2;
}

.about-title {
  font-size: max(15px, 15vw);
  margin-top: 80vh;
  margin-left: 30%;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.sub-title{
  font-size: max(5px, 5vw);
  margin-top: 45vh;
  margin-left: 50%;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: white;
}

.info{
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avtaar{
  width: 50%;
  display: flex;
  padding: 1rem;
  align-items: flex-start;
  justify-content: center;
  /* background-color: green; */
}

.avtaar img{
  height: 50%;
  width: 50%;
}

.myself{
  width: 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}


.myself span {
  font-size: 1.5rem;
  color: white;
  width: 90%;
  text-align: left;
}


/* works  */
.works{
  height: 100vh;
  background-color: red;
}


/* contact  */
.contact{
  height: 100vh;
  background-color: green;
}